<ion-view view-title="Market">
  <ion-side-menus>
  <!-- Left menu -->
  <ion-side-menu side="left">
    <ion-content>
      <ion-list>
      <ion-item ng-repeat="category in categories">
        <div on-tap="setCategory(category.id)">
         {{category.name}}
       </div>
      </ion-item>
    </ion-list>
    </ion-content>
  </ion-side-menu>

  <ion-side-menu-content>
  <!-- Main content, usually <ion-nav-view> -->
  <!--
    The views will be rendered in the <ion-nav-view> directive below
    Templates are in the /templates folder (but you could also
    have templates inline in this html file if you'd like).
  -->

  <ion-content class="padding">
    {{cart}}
    <div class="card" ng-repeat="item in items">
        <div class="row">
          <div class="col col-75">
            <div class="item item-divider">
              {{item.name}}
            </div>
          </div>
          <div class="col col-25">
            <div  style="text-align:center;font-size:20px"  class="item item-divider">
                <i on-tap="showPopup();addToCart({{item.id}},{{quantity}})" class="icon ion-plus-round"></i>
            </div>
          </div>

        </div>

        <div class="item item-image">
          <img src="{{item.image}}">
        </div>
        <div class="item item-divider">
          Category: {{getCategory(item.category).name}}

        </div>
  </div>
</ion-content>
  </ion-side-menu-content>
</ion-side-menus>


</ion-view>
